/Project/Client/Library/StateCache
/Project/Client/Library/APIUpdater
/Project/Client/Library/cache
/Project/Client/Library/metadata
/Project/Client/Library/PackageCache
/Project/Client/Library/ScriptAssemblies
/Project/Client/Library/ShaderCache
/Project/Client/Logs
/Project/Client/UserSettings
/Project/Client/Temp
/Project/Client/obj
/Project/Client/.vs
/Project/Client/.vsconfig
/Project/Client/*.csproj
/Project/Client/Assets/Libraries/Networking.Client.dll.mdb
/Project/Client/Assets/Libraries/Networking.Client.dll.mdb.meta
/Project/Client/Assets/Libraries/Networking.Common.dll.mdb
/Project/Client/Assets/Libraries/Networking.Common.dll.mdb.meta
/Project/Client/Client.sln
/Project/Client/Library
/Project/Simulation/.vs
/Project/Simulation/Binaries/Simulation.Common.dll
/Project/Simulation/Binaries/Simulation.Common.pdb
/Project/Simulation/Common/obj
/Project/Simulation/Data/obj
/Project/Simulation/Logic/obj
