/Library/StateCache
/Library/APIUpdater
/Library/cache
/Library/metadata
/Library/PackageCache
/Library/ScriptAssemblies
/Library/ShaderCache
/Logs
/UserSettings
/Temp
/obj
/.vs
/.vsconfig
/*.csproj
/Assets/Libraries/Networking.Client.dll.mdb
/Assets/Libraries/Networking.Client.dll.mdb.meta
/Assets/Libraries/Networking.Common.dll.mdb
/Assets/Libraries/Networking.Common.dll.mdb.meta
/Client.sln
/Library